@charset "UTF-8";

body {
    max-width: 30%;
    margin: auto;
}

.container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.200);
    padding: 2em;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

button {
    padding: 15px;
}